/* -------------------------------------------------------
Variable font. We do not implement the fallback to non-variable because our
general browser support would not support such old user agents anyways.

To update the font version, get the latest Woff and Woff2 files from the zip download
at https://github.com/rsms/inter/releases
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("Inter-italic.var.woff2") format("woff2");
}
