name: Main workflow

# The event triggers are configured as following:
# - on branch master, trigger the workflow on every push
# - on any pull request, trigger the workflow
# This is to avoid running the workflow twice on pull requests.
on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build_lint_and_test:
    # https://github.com/cypress-io/github-action/blob/263091cab1962eea06e293a19146e9d0241a1c32/README.md#important
    runs-on: ubuntu-16.04

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Setup Node (uses version in .nvmrc)
        uses: actions/setup-node@v1
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint text files
        run: yarn run jest --projects jest.{eslint,stylelint,test,text}.config.js --maxWorkers=3 --reporters jest-silent-reporter

      - name: Building websites for production
        run: yarn build
        env:
          ENABLE_SEARCH: 'true'

      - name: Running Visual Regression Tests
        uses: percy/snapshot-action@v0.1.1
        with:
          build-directory: public
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_SMOKE_TESTS }}

      - name: Running End-to-End tests
        uses: cypress-io/github-action@v1
        with:
          headless: true
          start: 'yarn run serve -l 8000 -n public'
          wait-on: 'http://localhost:8000/docs-smoke-test'
          env: 'CI=true'
          command-prefix: 'percy exec --'
        env:
          NODE_ENV: test
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_SMOKE_TESTS_E2E }}

      - name: Uploading Cypress artifacts
        # Test run video was always captured, so this action uses "always()" condition
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos

  publish_to_canary:
    needs: build_lint_and_test

    if: github.ref == 'refs/heads/master'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Publishing to npm registry
        run: ./scripts/release_canary.sh
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
