name: Main workflow

# The event triggers are configured as following:
# - on branch master, trigger the workflow on every push
# - on any pull request, trigger the workflow
# This is to avoid running the workflow twice on pull requests.
on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build_lint_and_test:
    # https://github.com/cypress-io/github-action/blob/263091cab1962eea06e293a19146e9d0241a1c32/README.md#important
    runs-on: ubuntu-16.04

    steps:
      - name: Checkout
        if: github.ref != 'refs/heads/master'
        uses: actions/checkout@v2

      - name: Checkout
        if: github.ref == 'refs/heads/master'
        uses: actions/checkout@v2
        with:
          # TL;DR: On master branch we check out the code using a depth of 50 commits.
          # This is necessary to allow Lerna to properly detect the latest tag in order
          # to determine the new canary version.
          # See related issue (https://github.com/lerna/lerna/issues/1769).
          # Longer explanation: Lerna uses `git describe` to determine the published
          # previous version. Since a normal checkout performs a shallow git clone
          # with the depth of 1 commit, `git describe` might not find a tag in the last
          # commit, thus returning `null`. This causes Lerna to attempt to release the
          # version `null-canary.0`, which is wrong.
          # To amend to that, we force a checkout with a bigger depth (like 50).
          # Note: this means that if we have merged >50 PRs since the last release,
          # the canary will fail again for the reasons above.
          # We could set `fetch-depth: 0`, but that would cause the entire history
          # to be cloned. Using 50 seems like a good balance to start with.
          fetch-depth: 50

      - name: Fetch all tags
        if: github.ref == 'refs/heads/master'
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Setup Node (uses version in .nvmrc)
        uses: actions/setup-node@v1
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint text files
        run: yarn run jest --projects jest.{eslint,stylelint,test,text}.config.js --maxWorkers=3 --reporters jest-silent-reporter

      - name: Building websites for production
        run: yarn build
        env:
          ENABLE_SEARCH: 'true'

      - name: Running Visual Regression Tests
        uses: percy/snapshot-action@v0.1.1
        with:
          build-directory: public
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_SMOKE_TESTS }}

      - name: Running End-to-End tests
        uses: cypress-io/github-action@v1
        with:
          headless: true
          start: 'yarn run serve -l 8000 -n public'
          wait-on: 'http://localhost:8000/docs-smoke-test'
          env: 'CI=true'
          command-prefix: 'percy exec --'
        env:
          NODE_ENV: test
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_SMOKE_TESTS_E2E }}

      - name: Uploading Cypress artifacts
        # Test run video was always captured, so this action uses "always()" condition
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos

      - name: Publishing to npm registry
        if: github.ref == 'refs/heads/master'
        run: ./scripts/release_canary.sh
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
